.ContainerSectionFilter {
  display: flex;
  flex-flow: column wrap;

  align-items: center;
  padding: 30px 0px 80px;
}
.filterContainer {
  display: flex;
  width: 100%;

  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 18px;

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.label {
  display: block;
  color: #8a8a89;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 8px;
}

.inpurMileage {
  display: flex;
  width: 110px;
  padding: 10px 10px 10px 55px;

  justify-content: center;

  align-items: center;
  gap: 32px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  background: rgb(247, 247, 251);
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 10px;
}

.inputKm {
  display: flex;
  width: 110px;
  padding: 10px 10px 10px 35px;

  justify-content: center;

  align-items: center;
  gap: 32px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  background: rgb(247, 247, 251);
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 10px;
}

.MilageKm {
  width: 100%;
  display: flex;

  justify-content: center;

  align-items: center;
}

.buttonSearch {
  padding: 8px 20px;
  color: rgb(255, 255, 255);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border-radius: 12px;
  background: #3470ff;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3.43693px 3.43693px 0px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;

  &:hover {
    background: #0b44cd;
  }
}

.butoonLoadMore {
  margin-top: 20px;
  color: #3470ff;
  background-color: transparent;
  border: 0;

  &:hover {
    color: #0b44cd;
  }
}

.labelFrom {
  position: absolute;
  left: 10px;
}
.labelTo {
  position: absolute;
  left: 120px;
}
