.becdropModal {
  position: fixed;
  inset: 0;
  background-color: rgba(5, 5, 5, 0.7);
  z-index: 999;

  opacity: 1;
  transform: none;
}

.containerModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px;
  min-width: 320px;
  z-index: 100;
  max-height: 90vh;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  @media (min-width: 780px) {
    top: 50%;
    padding: 40px;
    width: 541px;
    height: 752px;
  }

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 0px;
  }
}
.imgModal {
  display: block;
  width: 461px;
  height: 248px;
  object-fit: cover;
  border-radius: 14px;
}

.containerTitleModal {
  margin-top: 14px;
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 24px;
}
.titleModal {
  display: flex;
}

.containerInfoCar {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.titleModal {
  gap: 5px;
}

.Modal {
  color: rgb(52, 112, 255);
  font-size: 16px;
}

.infoCarModal {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  align-items: center;
  color: rgba(18, 20, 23, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  gap: 3px;
  margin-bottom: 14px;
}

.infoCar {
  color: rgba(18, 20, 23, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  border-right: 1px solid rgba(18, 20, 23, 0.2);
  padding-right: 3px;
}

.description {
  color: rgb(18, 20, 23);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 24px;
}
.Accessories {
  color: rgb(18, 20, 23);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 8px;
}

.AccessoriesInfo {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  color: rgba(18, 20, 23, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  gap: 3px;
}

.accessoriesInfoList {
  color: rgba(18, 20, 23, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  border-right: 1px solid rgba(18, 20, 23, 0.2);
  padding-right: 3px;
}
.rentalCredition {
  margin-top: 24px;
  margin-bottom: 8px;
  color: rgb(18, 20, 23);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
}
.rentalConditionsList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.conditions {
  padding: 7px 14px;
  border-radius: 35px;
  background: rgb(249, 249, 249);
  color: rgb(54, 53, 53);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}
.numberAge {
  color: #3470ff;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.24px;
}

.mileageAndPrice {
  color: rgb(52, 112, 255);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.24px;
}

.RentalCar {
  width: auto;
  padding: 12px 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #3470ff;

  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  text-decoration: none;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3.3px 3.4px 0px;
  transition: all 250ms cubic-bezier(0.5, 0, 0.2, 1) 0s;

  & span {
    color: rgb(255, 255, 255);
  }

  &:hover {
    background-color: #0b44cd;
  }
}
.btnClose {
  position: absolute;
  color: black;
  right: 16px;
  top: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  @media (max-width: 779px) {
   right: 5px;
  top: 10px;
  }
}

.svgClose {
  width: 20px;
  height: 20px;
}
